
.btn {
    padding: 10px 20px; /* Adjust padding to make the button more compact */
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    width: auto; 
    max-width: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
